body {
  margin: 0;
  padding: 0 150px;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
  flex-direction: column;
  color: black;
}

.quiz-container {
  position: relative;
  z-index: 10;
  width: 500px;
  text-align: center;
}

.options-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

.feedback {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}

.earth-container {
  position: fixed;
  bottom: -100px;
  right: -100px;
  width: 900px;
  height: 900px;
  z-index: -1;
}

.quiz{
  z-index: 10;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.rotating-earth {
  width: 100%;
  height: auto;
  position: absolute;
  right: -200px;
  animation: rotate 10s linear infinite;
  transition: opacity 0.5s ease-in-out;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}

.correctNotSelected {
  background-color: white;
  color: green;
  border: 2px solid green;
}

p{
  font-size: 0.75rem;
  color: green;
  font-style: italic;
}

.logo {
  position: fixed;
  left: 10px;
  top: 10px;
  width: 120px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  body {
    padding: 0;
    justify-content: flex-end;
  }

  .logo{
    width: 75px;
  }

  .quiz{
    padding: 25px;
    background: white;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    box-shadow: 0 0 10px gray;
  }

  .quiz-container{
    width: -webkit-fill-available;
    z-index: 1;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .earth-container{
    z-index: -1;
    width: -webkit-fill-available;
    left: 0;
    top: 3rem;
    bottom: 0;
    right: 0;
  }

  .rotating-earth{
    left: 0;
    width: -webkit-fill-available;
    right: 0;
  }

  h2{
    font-size: 1.25rem;
  }

  .endcard{
    background-color: white;
    padding: 20px;
    margin: 10rem 2rem;
    box-shadow: 0 0 10px gray;
    border-radius: 15px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */


@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body{
    padding: 0;
    align-items: center
  }
  
  #root{
    width: 70%;
  }

  .rotating-earth{
    left: 0;
    width: -webkit-fill-available;
    right: 0;
  }

  .earth-container{   
    width: 65%;
    height: 65%;
    right: -15rem;
    z-index: -1;
  }

  .logo{
    z-index: -1;
  }
  
  .quiz{
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
  }

  .quiz-container{
    width: -webkit-fill-available;
    z-index: 1;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }

}
